<div class="container main-conteiner">
  <h1>Firechat</h1>
  <hr>

  <div class="row animated fadeIn fast" *ngIf="_cs.usuario">
    <div class="col-md-12 text-right">
      <button (click)="_cs.logout()" type="button" class="btn btn-outline-danger">
        Salir
      </button>
    </div>
  </div>

  <div *ngIf="!_cs.usuario" class="animated fadeIn fast">
    <app-login></app-login>
  </div>
  <div *ngIf="_cs.usuario" class="animated fadeIn fast chat-window">
    <app-chat></app-chat>
  </div>
</div>
